{% extends "main.html" %} {% block content %}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
</style>

<h1>Home Page</h1>
<div class="home-container">
  <div>
    <h3>Browse Topic</h3>
    <hr />
    <div><a href="{% url 'home' %}">All</a></div>
    {% for topic in topics %}
    <div><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></div>
    {% endfor %}
  </div>
  <div>
    <a href="{% url 'create_room' %}">+ Create Room</a>
    <p>{{rooms_count}} rooms found</p>
    {% for room in rooms %}
    <div>
      {% if request.user == room.host %}
      <a href="{% url 'update_room' room.id %}">Update</a>
      <a href="{% url 'delete_room' room.id %}">Delete</a>
      {% endif %}
      <span>@{{room.host.username}}</span>
      <p>{{room.id}} - <a href="{% url 'room' room.id %}">{{room.name}}</a></p>
      <span>{{room.topic}}</span>
      <hr />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
